{% extends "base.html" %}

{% block content %}


{% if messages %}
<div class="alert alert-danger">{{ messages[0] }}</div>
{% endif %}


<h1>Add a drug:</h1>
<form method="post" action="">
    <table>
        <tr>
            <td>name:</td>
            <td><input type="text" name="name" required></td>
        </tr>
        <tr>
            <td>active substance:</td>
            <td><input type="text" name="active_substance" required></td>
        </tr>
        <tr>
            <td>price:</td>
            <td><input type="number" name="price" required></td>
        </tr>
        <tr>
            <td>
                dosage form:
            </td>
            <td>
                <select name="dosage_form">
                    <option>pills</option>
                    <option>mixture</option>
                    <option>drops</option>
                    <option>suspension</option>
                    <option>injection</option>
                    <option>plaster</option>
                    <option>aerosol</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>capacity:</td>
            <td><input type="number" min=1 name="capacity" required></td>
        </tr>
        <tr>
            <td>quantity:</td>
            <td><input type="number" min=1 name="quantity" required></td>
        </tr>
    </table>
    <input class="btn btn-success" type="submit" required>
</form>
</div>
</body>
</html>
{% endblock %}